h1 {
    color: green;
    font-size: 35px;
  }
  body {
    background: color #323f3a;;
  }
  .listas{
    font-family: monospace;
    font-size: 16px;
    color: rgb(0, 0, 0)
  }
  #Redes-Sociais{
    background-color: green;
    color: white;
  }
  #Minha-história{
    background-color: green;
    color: white;
  }
  #Habilidades{
    background-color: green;
    color: white;
  }
  #Sobre-mim{
    background-color: green;
    color: white;
  }
  .title{
    font-family: Californian FB;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
  p{
    font-family: monospace;
    font-size: 16px;
    text-align: center;
  }
  h2{
    background-color: green;
    color: white;
  }