h1 {
    color: green;
    font-size: 35px;
    font-family: Futura Md BT;
}
  body {
    background: color #323f3a;;
  }
  .listas{
    font-family: Futura Bk BT;
    font-size: 16px;
    color: rgb(0, 0, 0)
  }
  .title{
    font-family: Futura Md BT;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
  h2{
    background-color: green;
    color: white;
  }

  p{
    font-family: Futura Bk BT;
    font-size: 16px;
    text-align: center;
  }
  
 #Victor{
     background-color: white;
     color: green;
     text-align: initial;
 }
 #comentario{
     text-align: initial;
 }